@page "{id:int}"
@model GenericWarehouseWebsite.Pages.Components.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Component</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Component.PartNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Component.PartNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Component.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Component.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Component.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Component.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Component.Bin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Component.Bin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Component.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Component.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Component.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Component.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Component.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
