@page
@model GenericWarehouseWebsite.Pages.Components.IndexModel

@{
    ViewData["Title"] = "Components";
}

<h2>Components In Stock</h2>

<p>
    <a asp-page="Create">Add New Component</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Component[0].PartNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Component[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Component[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Component[0].Bin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Component[0].Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Component[0].Cost)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Component) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            @*<td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>*@
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(
                    User, item,
                    InformationAuthorization.Update)).Succeeded)
                {
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                    <text> | </text>
                }

                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>

                @if ((await AuthorizationService.AuthorizeAsync(
                    User, item,
                    InformationAuthorization.Delete)).Succeeded)
                {
                    <text> | </text>
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
